body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--font-size-base);
    font-weight: 300;
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-l);
}

h3 {
    font-size: var(--font-size-m);
}

h4 {
    font-size: var(--font-size-s);
}

p {
    line-height: 1.6;
}