:root {
    --max-width: 1300px;

    --font-size-s: 14px;
    --font-size-base: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 32px;

    --color-white: #EEE;

    --color-primary: hsla(234, 76%, 62%, 1.0);
    --color-primary-light: hsla(235, 93%, 78%, 1.0);

    --color-background-dark: hsla(219, 33%, 10%, 1.0);
    --color-background-light: hsla(210, 22%, 96%, 1.0);
    --color-background: hsla(210, 22%, 96%, 1.0);

    --color-background-lighter-dark: hsla(217, 33%, 14%, 1.0);
    --color-background-lighter-light: hsla(0, 0%, 100%, 1.0);
    --color-background-lighter: hsla(0, 0%, 100%, 1.0);

    --color-text: hsla(212, 17%, 51%, 1.0);
    --color-text-light: hsla(212, 17%, 51%, 1.0);
    --color-text-dark: hsla(212, 23%, 69%, 1.0);

    --color-gray: hsla(211, 19%, 51%, 1.0);
    --color-gray-dark: hsla(212, 20%, 51%, 1.0);
    --color-gray-light: hsla(210, 22%, 96%, 1.0);

    --color-button-hover: hsla(235, 93%, 78%, 1.0);

    --color-button-secondary: hsla(236, 79%, 96%, 1.0);
    --color-button-secondary-light: hsla(236, 79%, 96%, 1.0);
    --color-button-secondary-dark: hsla(219, 18%, 22%, 1.0);

    --color-button-secondary-hover: hsla(234, 79%, 87%, 1.0);
    --color-button-secondary-hover-light: hsla(234, 79%, 87%, 1.0);
    --color-button-secondary-hover-dark: hsla(220, 7%, 44%, 1.0);

    --color-button-secondary-text: hsla(234, 76%, 62%, 1.0);
    --color-button-secondary-text-light: hsla(234, 76%, 62%, 1.0);
    --color-button-secondary-text-dark: #EEE;

    --color-text-heading: hsla(217, 30%, 14%, 1.0);
    --color-text-heading-light: hsla(217, 30%, 14%, 1.0);
    --color-text-heading-dark: #FFF;
}
